<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input label="Usuario" type = "text" placeholder = "Ingrese nombre de usuario" [(ngModel)]="username"></ion-input>
  <ion-input label="Rut" type = "text" placeholder = "Ingrese Rut de Alumno" [(ngModel)]="rut"></ion-input>
  <ion-button expand = "block" fill = "outline" color = "danger" (click)="recuperar()">
    Recuperar
  </ion-button>
  <ion-button expand = "block" fill = "outline" color = "danger" routerLink="/login">
    Volver al Login
  </ion-button>

</ion-content>
